body {
  background-color: #202020;
}

.search-input {
  outline: none;
  padding: 10px 5px;
  font-family: "Segoe UI";
  border-radius: 5px;
  border: 0.5px solid grey;
  background-color: transparent;
  width: 87%;
  color: #ffffff;
}

.search-button {
  border-radius: 10px;
  width: 10%;
  border: none;
  background-color: #ffdf2b;
  color: #f9ffff;
  padding: 10px 5px;
  outline: none;
  font-family: "Segoe UI";
  color: #202020;
}
